<div class="app-dashboard shrink-medium">
  <div class="row expanded app-dashboard-top-nav-bar">
    <div class="columns medium-2">
      <button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button>
      <a class="app-dashboard-logo">HateSpeech Detector</a>
    </div>
    <div class="columns show-for-medium">
<!--      <div class="app-dashboard-search-bar-container">
        <input class="app-dashboard-search" type="search" placeholder="Search">
      </div>
    -->
    </div>
    <div class="columns shrink app-dashboard-top-bar-actions">
 <!--     <a href="#" height="30" width="30" alt="">
        <i class="fa fa-info-circle"></i>
      </a>
    -->
    </div>
  </div>

  <div class="app-dashboard-body off-canvas-wrapper">
    <div id="app-dashboard-sidebar" class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium"
      data-off-canvas>
      <div class="app-dashboard-sidebar-inner">
        <ul class="menu vertical">
          <li routerLinkActive="is-active">
            <a routerLink="/dashboard">
              <i class="large fa fa-home"></i> Dashboard
            </a>
          </li>
          <li routerLinkActive="is-active">
            <a routerLink="/unlabelled">
              <i class="large fa fa-envelope"></i> Unlabelled comments
            </a>
          </li>
          <li routerLinkActive="is-active">
            <a routerLink="/labelled">
              <i class="large fa fa-envelope-open"></i> Labelled comments
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
      <router-outlet ></router-outlet>
    </div>
  </div>
</div>
