.time-container {
    color: #7f8082;
    font-size: small;
}

.comment-url {
    color: #7f8082;
    font-size: small;
}

.callout {
    border-radius: 3px;
    font-size: small;
}

.comment-text {
  text-align: justify;
  font-size: small;
}
