<div class="page-title">
  <div class="grid-x">
    <div class="cell small-6">
      <h3 class="app-dashboard-sidebar-block-title">{{ title }}</h3>
    </div>
    <div class="cell small-6">
      <h3 class="app-dashboard app-dashboard-sidebar-block-title float-right">{{ comments.length }}</h3>
    </div>
  </div>
</div>
<div class="grid-x">
  <div class="cell note">
    <p>* Use the right arrow of the keyboard to delete the highlighted comment or the left one to keep it.</p>
  </div>
</div>
<app-unlabelled-comment *ngFor="let comment of comments; let i=index" [selected]="i == 0" [comment]="comment" data-closable></app-unlabelled-comment>
