<div class="page-title">
  <div class="grid-x grid-margin-x">
    <div class="cell small-6">
      <h3 class="app-dashboard-sidebar-block-title">{{ title }}</h3>
    </div>
    <div class="cell small-6">
      <h3 class="app-dashboard app-dashboard-sidebar-block-title float-right">{{ comments.length }}</h3>
    </div>
  </div>
</div>
<div class="grid-x grid-margin-x">
  <div class="cell note">
    <p>* Use the right arrow of the keyboard to
      <strong>delete</strong> the highlighted comment or the left one to
      <strong>keep</strong> it.</p>
  </div>
</div>
<div class="grid-x grid-margin-x">
  <div class="cell small-12 large-6 comment-container" id="comment-{{i}}" [class.selected]="i == 0" *ngFor="let comment of comments; let i=index">
    <app-unlabelled-comment [comment]="comment" (labelComment)="updateComment($event, i)"></app-unlabelled-comment>
  </div>
</div>